TASK [ubuntu_autoinstall_vsphere : Calcular prefix a partir del netmask] ************************
ok: [localhost]

TASK [ubuntu_autoinstall_vsphere : Validar prefix calculado] ************************************
ok: [localhost] => {
    "changed": false,
    "msg": "All assertions passed"
}

TASK [ubuntu_autoinstall_vsphere : user-data] ***************************************************
ok: [localhost]

TASK [ubuntu_autoinstall_vsphere : meta-data] ***************************************************
ok: [localhost]

TASK [ubuntu_autoinstall_vsphere : Crear seed ISO (NoCloud) con mkisofs] ************************
changed: [localhost]

TASK [ubuntu_autoinstall_vsphere : Calcular ruta remota para seed ISO] **************************
ok: [localhost]

TASK [ubuntu_autoinstall_vsphere : DEBUG rutas de upload] ***************************************
ok: [localhost] => {
    "msg": {
        "datacenter": "POPULAR",
        "datastore": "PURESTORAGE_PV_X20R4_VOL_1",
        "local_src": "/tmp/seed-ubuntu-seed-24-04.iso",
        "remote_path": "  ISOS\n/seed-ubuntu-seed-24-04.iso "
    }
}

TASK [ubuntu_autoinstall_vsphere : Verificar que el seed ISO local existe] **********************
ok: [localhost]

TASK [ubuntu_autoinstall_vsphere : Asegurar que el seed ISO local existe] ***********************
ok: [localhost] => {
    "changed": false,
    "msg": "Seed ISO local generado correctamente."
}

TASK [ubuntu_autoinstall_vsphere : Subir seed ISO al datastore] *********************************
FAILED - RETRYING: [localhost]: Subir seed ISO al datastore (3 retries left).
FAILED - RETRYING: [localhost]: Subir seed ISO al datastore (2 retries left).
FAILED - RETRYING: [localhost]: Subir seed ISO al datastore (1 retries left).
[ERROR]: Task failed: Module failed: HTTP Error 404: Not Found
Origin: /home/ansible/infra_pv/IaC_PV/IaC_PV/ansible/roles/ubuntu_autoinstall_vsphere/tasks/main.yml:266:3

264     success_msg: "Seed ISO local generado correctamente."
265
266 - name: Subir seed ISO al datastore
      ^ column 3

fatal: [localhost]: FAILED! => {"attempts": 3, "changed": false, "failed_when_result": true, "msg": "HTTP Error 404: Not Found"}

PLAY RECAP **************************************************************************************
localhost                  : ok=35   changed=1    unreachable=0    failed=1    skipped=4    rescued=0    ignored=0

openbsd$
