---
- name: Construir VM seed Ubuntu 24.04 por autoinstall en vSphere
  hosts: localhost
  connection: local
  gather_facts: false
  vars_files:
    - ../vault.yml
  roles:
    - role: ubuntu_autoinstall_vsphere