---
- name: Probar boot de la VM seed ubuntu-seed-24-04
  hosts: localhost
  gather_facts: false

  vars:
    venv_path: "{{ lookup('env','HOME') + '/.ansible/venvs/vmware' }}"

  pre_tasks:
    - name: Usar Python del venv
      ansible.builtin.set_fact:
        ansible_python_interpreter: "{{ venv_path }}/bin/python"

    - name: Cargar group_vars/all.yml si existe
      ansible.builtin.stat:
        path: "{{ playbook_dir }}/../group_vars/all.yml"
      register: all_stat

    - name: include all.yml
      ansible.builtin.include_vars:
        file: "{{ playbook_dir }}/../group_vars/all.yml"
      when: all_stat.stat.exists

    - name: Cargar vault.yml si existe
      ansible.builtin.stat:
        path: "{{ playbook_dir }}/../vault.yml"
      register: vault_stat

    - name: include vault.yml
      ansible.builtin.include_vars:
        file: "{{ playbook_dir }}/../vault.yml"
      when: vault_stat.stat.exists
      no_log: true

  tasks:
    - name: Encender la VM seed
      community.vmware.vmware_guest:
        hostname: "{{ vcenter_hostname }}"
        username: "{{ vcenter_username }}"
        password: "{{ vcenter_password }}"
        validate_certs: "{{ vcenter_validate_certs }}"
        datacenter: "{{ vcenter_datacenter }}"
        name: "{{ seed_vm_name }}"
        state: poweredon
        wait_for_ip_address: false
      register: poweron

    - name: Mostrar estado tras encender
      community.vmware.vmware_guest_info:
        hostname: "{{ vcenter_hostname }}"
        username: "{{ vcenter_username }}"
        password: "{{ vcenter_password }}"
        validate_certs: "{{ vcenter_validate_certs }}"
        datacenter: "{{ vcenter_datacenter }}"
        name: "{{ seed_vm_name }}"
      register: info

    - name: Debug estado
      ansible.builtin.debug:
        msg:
          power_state: "{{ info.instance.hw_power_status }}"
          tools_status: "{{ info.instance.guest_tools_status }}"