---
- name: Listar VMs y plantillas en vCenter
  hosts: localhost
  gather_facts: false
  become: false

  collections:
    - community.vmware

  tasks:
    - name: Obtener info de VMs/plantillas en todo el vCenter
      community.vmware.vmware_vm_info:
        hostname: "{{ vcenter_hostname }}"
        username: "{{ vcenter_username }}"
        password: "{{ vcenter_password }}"
        validate_certs: false
        show_datacenter: true
        show_cluster: true
        show_folder: true
      register: vm_info

    - name: Mostrar nombre, si es plantilla y datacenter/carpeta
      debug:
        msg: >
          name={{ item.config.name }}
          template={{ item.config.template }}
          datacenter={{ item.datacenter }}
          folder={{ item.folder }}
      loop: "{{ vm_info.virtual_machines }}"
      loop_control:
        label: "{{ item.config.name }}"