all:
  children:
    pv_infra_master:
      hosts:
        pv-infra-master:
          ansible_host: 192.168.5.85
          ansible_user: pvinfra
    pv_infra_nodes:
      hosts:
        pv-infra-nodo1:
          ansible_host: 192.168.5.86
          ansible_user: pvinfra
        pv-infra-nodo2:
          ansible_host: 192.168.5.87
          ansible_user: pvinfra