all:
  hosts:
    pv-infra-master:
      ansible_host: 192.168.5.85
      ansible_user: pvinfra
      # Carpeta de destino donde se sincronizarán los archivos del repo
      replication_subdir: "master"
      replication_dest: "/opt/stacks/master"
      replication_compose_dir: "/opt/stacks/master"   # donde está docker-compose.yml

    pv-infra-noc:
      ansible_host: 192.168.5.86
      ansible_user: pvinfra
      replication_subdir: "noc"
      replication_dest: "/opt/stacks/noc"
      replication_compose_dir: "/opt/stacks/noc"      # docker-compose.yml del NOC

    pv-infra-soc:
      ansible_host: 192.168.5.87
      ansible_user: pvinfra
      replication_subdir: "soc"
      replication_dest: "/opt/stacks/soc"
      replication_compose_dir: "/opt/stacks/soc"      # docker-compose.yml del SOC

    localhost:
      ansible_connection: local

  children:
    # Hosts donde gestionamos Docker
    docker_hosts:
      hosts:
        pv-infra-master:
        pv-infra-noc:
        pv-infra-soc:

    # Nodo donde corre Portainer Server
    portainer_server:
      hosts:
        pv-infra-master:

    # Nodos donde corren Portainer Agent
    portainer_agents:
      hosts:
        pv-infra-noc:
        pv-infra-soc:

    # Grupo usado para el play 20 (vCenter)
    vcenter:
      hosts:
        localhost: