all:
  hosts:
    pv-infra-master:
      ansible_host: 192.168.5.85
      ansible_user: pvinfra

    pv-infra-noc:
      ansible_host: 192.168.5.86
      ansible_user: pvinfra

    pv-infra-soc:
      ansible_host: 192.168.5.87
      ansible_user: pvinfra

    localhost:
      ansible_connection: local

  children:
    # Hosts donde gestionamos Docker
    docker_hosts:
      hosts:
        pv-infra-master:
        pv-infra-noc:
        pv-infra-soc:

    # Nodo donde corre Portainer Server
    portainer_server:
      hosts:
        pv-infra-master:

    # Nodos donde corren Portainer Agent
    portainer_agents:
      hosts:
        pv-infra-noc:
        pv-infra-soc:

    # Grupo usado para ejecutar cosas locales relacionadas con vCenter
    vcenter:
      hosts:
        localhost: