all:
  hosts:
    pv-infra-master:
      ansible_host: 192.168.5.85
      ansible_user: pvinfra
    pv-infra-nodo1:
      ansible_host: 192.168.5.86
      ansible_user: pvinfra
    pv-infra-nodo2:
      ansible_host: 192.168.5.87
      ansible_user: pvinfra

  children:
    docker_hosts:
      hosts:
        pv-infra-master:
        pv-infra-nodo1:
        pv-infra-nodo2:

    portainer_server:
      hosts:
        pv-infra-master:

    portainer_agents:
      hosts:
        pv-infra-nodo1:
        pv-infra-nodo2: