---
# =========================
# Parámetros de vCenter
# =========================

# Estos pueden ser overrideados por vault.yml o variables de entorno VCENTER_*
vcenter_hostname: "192.168.5.150"
vcenter_username: "ansible_svc@vsphere.local"
vcenter_password: ""   # opcional: dejar vacío si usas vault.yml

# Datacenter EXACTO como se ve en vCenter
vcenter_datacenter: "POPULAR_VALORES"

# Datastore EXACTO donde están ISOs y discos
vcenter_datastore: "PURESTORAGE_PV_X20R4_VOL_1"

# Cluster donde se desplegarán las VMs
vcenter_cluster: "PV-CLUSTER"

# Portgroup / Network EXACTO
vcenter_network: "VLAN-5"

# vCenter con certificado self-signed
vcenter_validate_certs: false

# Carpeta dentro del datastore para ISOs
datastore_iso_dir: "ISOS"

# =========================
# Parámetros de la VM seed
# =========================

seed_vm_name: "ubuntu-seed-24-04"

linux_user: "ansible"
linux_user_fullname: "Ansible Admin"

ssh_pubkey_path: "/home/ansible/.ssh/id_ed25519.pub"

guest_ip: "192.168.5.85"
guest_netmask: "255.255.255.0"
guest_gateway: "192.168.5.252"
guest_dns:
  - "192.168.10.2"
  - "1.1.1.1"

# =========================
# ISO Ubuntu
# =========================

ubuntu_iso_url: "https://releases.ubuntu.com/24.04/ubuntu-24.04.1-live-server-amd64.iso"