---
# ========= vCenter =========
vcenter_hostname: "192.168.5.150"
vcenter_username: "ansible_svc@vsphere.local"
# vcenter_password viene de vault.yml o de la variable de entorno VCENTER_PASSWORD
vcenter_datacenter: "POPULAR_VALORES"
vcenter_datastore: "PURESTORAGE_PV_X20R4_VOL_1"
vcenter_cluster: "PV-CLUSTER"
vcenter_network: "VLAN-5"
vcenter_validate_certs: false
vcenter_port: 443

# ========= VM SEED =========
seed_vm_name: "ubuntu-seed-24-04"
seed_vm_num_cpus: 2
seed_vm_memory_mb: 4096
seed_vm_disk_gb: 40

# ========= Autoinstall =========
# Ruta a tu clave pública (ajústala si usas otra).
ssh_pubkey_path: "/home/ansible/.ssh/id_ed25519.pub"

# Carpeta donde guardas las ISOs en el datastore
datastore_iso_dir: "ISOS"

# Nombres de las ISOs (ajusta si usas otra versión)
ubuntu_iso_filename: "ubuntu-24.04.3-live-server-amd64.iso"
# seed_iso_filename se auto-calcula si no lo defines