---
# =========================
# Parámetros de vCenter
# =========================

# Endpoint de vCenter
vcenter_hostname: "192.168.5.150"

# Usuario de servicio en vCenter
# (los playbooks intentan leer primero de vault.yml, pero si no,
#  usarán este valor como fallback)
vcenter_username: "ansible_svc@vsphere.local"

# Datacenter EXACTO (tal como aparece en vCenter)
vcenter_datacenter: "POPULAR_VALORES"

# Datastore EXACTO donde está la carpeta ISOS
vcenter_datastore: "PURESTORAGE_PV_X20R4_VOL_1"

# Cluster donde se desplegarán las VMs
vcenter_cluster: "PV-CLUSTER"

# Portgroup / Network
vcenter_network: "VLAN-5"

# Certificados del vCenter (false si es self-signed)
vcenter_validate_certs: false

# Carpeta dentro del datastore para ISOs (ruta lógica en vSphere)
datastore_iso_dir: "ISOS"

# =========================
# Parámetros de la VM seed
# =========================

# Nombre de la VM seed creada con el autoinstall + seed ISO
seed_vm_name: "ubuntu-seed-24-04"

linux_user: "ansible"
linux_user_fullname: "Ansible Admin"

# Llave pública SSH usada dentro del cloud-init de la seed/template
ssh_pubkey_path: "/home/ansible/.ssh/id_ed25519.pub"

# Configuración de red del guest de la VM seed
guest_ip: "192.168.5.85"
guest_netmask: "255.255.255.0"
guest_gateway: "192.168.5.252"
guest_dns:
  - "192.168.10.2"
  - "1.1.1.1"

# =========================
# ISO Ubuntu
# =========================

# URL del ISO oficial de Ubuntu Server 24.04
ubuntu_iso_url: "https://releases.ubuntu.com/24.04/ubuntu-24.04.1-live-server-amd64.iso"