---
# =========================
# Par치metros de vCenter
# =========================
vcenter_hostname: "192.168.5.150"
vcenter_username: "ansible_svc@vsphere.local"
# vcenter_password se toma de vault.yml o de la variable de entorno VCENTER_PASSWORD

vcenter_datacenter: "POPULAR_VALORES"
vcenter_datastore: "PURESTORAGE_PV_X20R4_VOL_1"
vcenter_cluster: "PV-CLUSTER"
vcenter_network: "VLAN-5"

vcenter_validate_certs: false
vcenter_port: 443

# Carpeta en el datastore donde est치n las ISOs
datastore_iso_dir: "ISOS"

# =========================
# Par치metros de la VM seed
# =========================
seed_vm_name: "ubuntu-seed-24-04"
seed_vm_num_cpus: 2
seed_vm_memory_mb: 4096
seed_vm_disk_gb: 40

linux_user: "ansible"
linux_user_fullname: "Ansible Admin"

ssh_pubkey_path: "/home/ansible/.ssh/id_ed25519.pub"

# Red (si no quieres DHCP, usa estos y cambia el playbook de creaci칩n)
guest_ip: "192.168.5.85"
guest_netmask: "255.255.255.0"
guest_gateway: "192.168.5.252"
guest_dns:
  - "192.168.10.2"
  - "1.1.1.1"

# =========================
# ISOs
# =========================
# ISO de Ubuntu YA EXISTE en el datastore:
ubuntu_iso_filename: "ubuntu-24.04.3-live-server-amd64.iso"
# seed ISO que generamos con este repo:
seed_iso_filename: "seed-ubuntu-seed-24-04.iso"

# Control de subida opcional (normalmente NO hace falta porque ya tienes la carpeta ISOS)
upload_seed_to_datastore: false