version: "3.8"

services:
  opencti:
    image: opencti/platform:latest
    container_name: opencti
    restart: always
    depends_on:
      - redis
      - opensearch
      - minio
      - rabbitmq
    environment:
      # URL de la plataforma
      - APP__PORT=8080
      - APP__BASE_URL=http://192.168.5.87:8080

      # Usuario admin inicial
      - APP__ADMIN__EMAIL=admin@local
      - APP__ADMIN__PASSWORD=S0p0rt3..
      - APP__ADMIN__TOKEN=B6nmuOtlLlwFIKQrlg4TxtmwUdBCZAIq

      # Conexión a Redis
      - REDIS__HOST=redis
      - REDIS__PORT=6379

      # Conexión al motor de búsqueda (OpenSearch)
      - SEARCH__ENGINE_ID=opensearch
      - SEARCH__ENGINE__URL=http://opensearch:9200

      # MinIO (storage)
      - MINIO__ENDPOINT=minio
      - MINIO__PORT=9000
      - MINIO__USE_SSL=false
      - MINIO__ACCESS_KEY=opencti
      - MINIO__SECRET_KEY=S0p0rt3..
      - MINIO__BUCKET=opencti-bucket

      # RabbitMQ (mensajería)
      - RABBITMQ__HOST=rabbitmq
      - RABBITMQ__PORT=5672
      - RABBITMQ__PORT_MANAGEMENT=15672
      - RABBITMQ__USERNAME=opencti
      - RABBITMQ__PASSWORD=S0p0rt3..

      # Varios
      - NODE_OPTIONS=--max-old-space-size=4096

    ports:
      - "8080:8080"
    networks:
      - opencti-net

  redis:
    image: redis:7-alpine
    container_name: opencti-redis
    restart: always
    command: ["redis-server", "--save", "60", "1", "--loglevel", "warning"]
    networks:
      - opencti-net

  opensearch:
    image: opensearchproject/opensearch:2.17.0
    container_name: opencti-opensearch
    restart: always
    environment:
      - discovery.type=single-node
      - bootstrap.memory_lock=true
      - "OPENSEARCH_JAVA_OPTS=-Xms2g -Xmx2g"
      - plugins.security.disabled=true
    ulimits:
      memlock:
        soft: -1
        hard: -1
      nofile:
        soft: 65536
        hard: 65536
    volumes:
      - opensearch-data:/usr/share/opensearch/data
    ports:
      - "9200:9200"
    networks:
      - opencti-net

  minio:
    image: minio/minio:latest
    container_name: opencti-minio
    restart: always
    command: server /data --console-address ":9001"
    environment:
      - MINIO_ROOT_USER=opencti
      - MINIO_ROOT_PASSWORD=S0p0rt3..
    volumes:
      - minio-data:/data
    ports:
      - "9000:9000"
      - "9002:9002"
    networks:
      - opencti-net

  rabbitmq:
    image: rabbitmq:3-management
    container_name: opencti-rabbitmq
    restart: always
    environment:
      - RABBITMQ_DEFAULT_USER=opencti
      - RABBITMQ_DEFAULT_PASS=S0p0rt3..
    ports:
      - "5672:5672"
      - "15672:15672"
    networks:
      - opencti-net

networks:
  opencti-net:
    driver: bridge

volumes:
  opensearch-data:
  minio-data: